
<div class="container h-100">
  <div class="row">
    <div class="col-12">
      <h1>Ariel Zamora - Primer Parcial</h1>
      <hr class="hrt">
    </div>
  </div>
  <div class="row rowLogin justify-content-center align-items-center h-75 rounded shadow">
    <div class="col-5">
      <div class="card" [ngClass]="{'border-danger': error}">
        <div class="card-body">
          <h5 class="card-title">Ingreso</h5>
          <hr>
          <form [formGroup]="form" (keyup.enter)="Submit()">
            <div class="form-row">
              <div class="col-12">
                <div class="form-group">
                  <input type="text" id="user"  placeholder="Usuario" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': form.controls['user'].touched && form.controls['user'].invalid }">
                  <div *ngIf="form.controls['user'].touched && form.controls['user'].invalid" class="invalid-feedback">
                    <div *ngIf="form.controls['user'].errors.required">Debe ingresar un mail.</div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input type="text" id="name" placeholder="Nombre" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': form.controls['name'].touched && form.controls['name'].invalid }">
                  <div *ngIf="form.controls['name'].touched && form.controls['name'].invalid" class="invalid-feedback">
                    <div *ngIf="form.controls['name'].errors.required">Debe ingresar un nombre.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12">
                <div class="form-group">
                  <input type="password" id="pass" placeholder="Password" class="form-control" formControlName="pass" [ngClass]="{ 'is-invalid': form.controls['pass'].touched && form.controls['pass'].invalid }">
                  <div *ngIf="form.controls['pass'].touched && form.controls['pass'].invalid" class="invalid-feedback">
                    <div *ngIf="form.controls['pass'].errors.required">Debe ingresar la contraseña.</div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <select id="perfil" placeholder="Perfil" formControlName="perfil" class="form-control">
                    <option value="Cliente">Cliente</option>
                    <option value="Vendedor">Vendedor</option>
                    <option value="Administrador">Administrador</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
          <span><i class="fas fa-fast-forward"></i><b class="ar">Acceso Rápido:</b></span> <br>
          <button type="button" class="btn btn-outline-danger btn-sm buttonDefault" data-toggle="tooltip"
            data-placement="top" title="Administrador" (click)="CargarDefault('P')"><i class="fas fa-user-tie"></i>
            Administrador</button>
          <button type="button" class="btn btn-outline-primary btn-sm buttonDefault" data-toggle="tooltip"
            data-placement="top" title="Vendedor" (click)="CargarDefault('N')"><i class="fas fa-user"></i> Vendedor</button>
          <button type="button" class="btn btn-outline-success btn-sm buttonDefault" data-toggle="tooltip"
            data-placement="top" title="Cliente" (click)="CargarDefault('F')"><i class="fas fa-user-tag"></i> Cliente</button>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning" (click)="Submit()">Ingresar</button>
            <button type="submit" class="btn btn-secondary" (click)="Registrar()">Registrar</button>
            <!--<button type="button" class="btn btn-secondary" [routerLink]="[ '/' ]">Volver</button>-->
          </div>
        </div>
        <div *ngIf="error" class="card-footer">
          <small class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
        </div>
      </div>
    </div>
  </div>
</div>