<div class="container">
    <div class="row justify-content-center align-items-center">
    <form [formGroup]="form">  
        <h2>Registrar un examen</h2>
        Materia:<br>
        <select name="materia" id="materia" formControlName="materia" class="custom-select">
                <option value="" disabled>seleccione</option>
                <option *ngFor="let mat of materiasProfesor"> {{mat.nombre}}</option>
        </select><br>
        Cuatrimestre:<br>
        <select name="cuatrimestre" id="cuatrimestre" class="custom-select" formControlName="cuatrimestre">
          <option selected value="1">Primero</option>
          <option value="2">Segundo</option>
        </select>
        <br>Alumno:<br>
        <select name="alumno" id="alumno" formControlName="alumno" class="custom-select">
                <option value="" disabled>seleccione</option>
                <option *ngFor="let alum of inscripcionesProfesor"> {{alum.alumno}}</option>
        </select>
        <br>
        <div class="form-group">
             <label for="Nota">Nota: </label>
                 <input type="text" id="nota" formControlName="nota" class="form-control" [ngClass]="{ 'is-invalid': form.controls['nota'].touched && form.controls['nota'].invalid }">
            <div *ngIf="form.controls['nota'].touched && form.controls['nota'].invalid" class="invalid-feedback">
              <div *ngIf="form.controls['nota'].errors.required">Debe ingresar un nota.</div>
            </div>
        </div>
        <small *ngIf="error" class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
        <small *ngIf="success" class="text-success font-weight-bold"><i class="fas fa-check"></i> Servicio registrado
          correctamente. </small>
        <hr>
        <button class="col-6 btn btn-danger cancelbtn" (click)="cerrar()">Cerrar</button>
        <button class="col-6 btn btn-secondary aceptbtn" (click)="crearExamen()" >Agregar</button>
        
    </form>
  </div>
</div>

